.browsingHistory {
  border-left: 3px solid black;
  padding: 0 2rem;
  max-width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.browsingHistoryHeader {
  background-color: var(--background-color);
  padding-bottom: 20px;
}
.siteGroup {
  display: flex;
  align-items: flex-start;
  gap: 4px; /* Gap btw arrow and favicon */
}
.siteGroupData {
  flex-grow: 1;
}
.siteGroupArrow {
  transition: 0.3s all;
  opacity: 0;
  transform: translate(-10px, 0);
  cursor: pointer;
}
.siteGroupArrow img {
  display: block;
}
.siteGroupArrow.shown {
  opacity: 1;
  transform: translate(0);
}

.siteData {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: inherit var(--background-color);
  flex-grow: 1;
  gap: 7px;
}
.siteTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  overflow: hidden;
  flex-grow: 1;
}

.siteMetadata {
  flex-shrink: 0;
}
.siteRow {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  opacity: 0;
  transform: translate(10px, 0);
  transition: 0.3s all;
  min-height: 30px;
  margin-bottom: 1px;
}

.siteRow:hover .siteTitle {
  white-space: inherit;
}

.siteRow.shown {
  opacity: 1;
  transform: none;
}

.liveBox {
  padding-left: 1.3rem;
  font-weight: 400;
  position: relative;
}
.liveBox.active {
  color: #cf0005;
}
.liveBox.notActive {
  color: gray;
}
.liveBox::after {
  content: "";
  height: 15px;
  width: 15px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  position: absolute;
}
.liveBox.active::after {
  animation: flash 1.4s infinite;
  background-color: #cf0005;
}
.liveBox.notActive::after {
  outline: 2px solid gray;
  outline-offset: -2px;
  border-radius: 50%;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
}
.logo {
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  align-self: flex-start;
}
.logo img {
  display: block;
}
@media screen and (max-width: 1400px) {
  .siteData {
    overflow: hidden;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .browsingHistory {
    border: none;
    padding: 0;
  }
  .siteMetadata {
    display: none;
  }
  .siteTitle {
    white-space: inherit;
  }
}
