.browsingHistory {
  border-left: 3px solid black;
  padding: 0 2rem;
  max-width: min(100%, 846px);
  height: 457px;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
}
.siteData {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}
.siteTitle {
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}
.siteMetadata {
  color: gray;
  font-size: 1rem;
  white-space: nowrap;
}
.siteRow {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: 0.3s fadein forwards;
  opacity: 0;
}

.logo {
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo img {
  display: block;
}
@media screen and (max-width: 1400px) {
  .browsingHistory {
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .browsingHistory {
    border: none;
    padding: 0;
  }
  .siteMetadata {
    display: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(10px, 0);
  }
  to {
    opacity: 1;
  }
}
