.container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s background-color;
  padding: 4px 13px;
  margin-left: -13px;
  border-radius: 100px;
  width: fit-content;
}
.navigation:hover {
  background-color: rgba(128, 128, 128, 0.317);
}
.navigation:hover:active {
  background-color: rgba(128, 128, 128, 0.617);
}
.navigation p {
  margin: 0;
}
.title {
  margin-top: 30px;
  margin-bottom: 60px;
}
.blogPart p:has(img) {
  text-align: center;
}
.container h2 {
  font-size: 3rem;
}
.container h3 {
  font-size: 2rem;
  font-weight: bold;
}
.container img {
  max-width: 100%;
}
.container :is(p, ol, ul) {
  font-size: 1.2rem;
}
@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
