.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: stretch;
  margin: auto;
  width: 87%;
  max-width: 1350px;
  height: 70%;
  max-height: 700px;
  gap: 50px;
  box-sizing: border-box;
}
.title {
  display: flex;
  gap: 25px;
  flex-shrink: 0;
}
.title * {
  animation: 0.5s fadein forwards;
  opacity: 0;
}
.title :nth-child(2) {
  animation-delay: 100ms;
}
.title :nth-child(3) {
  animation-delay: 200ms;
}
.title :nth-child(4) {
  animation-delay: 300ms;
}
.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 500px;
  flex-shrink: 0;
}
@keyframes fadein {
  from {
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1400px) {
  .main {
    position: relative;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    transform: none;
    max-height: none;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .leftPanel {
    width: 100%;
  }
}
